<div id="<%= dom_id promotion %>">
  <p>
    <strong>Titule:</strong>
    <%= promotion.titule %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= promotion.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= promotion.start_date %>
  </p>

  <p>
    <strong>Ending date:</strong>
    <%= promotion.ending_date %>
  </p>

  <p>
    <strong>Discount porcentage:</strong>
    <%= promotion.discount_porcentage %>
  </p>

</div>
